@font-face{
    font-family: Architects Daughter;
    src: url(ArchitectsDaughter.ttf);
}
/* Smallest devices */
 body {
     background-color: #805064;
}
/* Logo */
 .banner {
     display: flex;
} 

.logo{
    font-family: Architects Daughter;
}
/**/
 .tagline {
     border-color: black;
     border-style: ridge;
     background-color: #c48157;
     border-radius: 32px;
     font-family:Architects Daughter;
     text-align: center;
     font-size: 100%;
}
/* Navbar */
 .menu-toggle ul a{
     text-align: center;
     font-weight: bold;
     color: black;
     text-decoration: none;
     padding: 1px;
}
 .menu-toggle ul a:hover:not(.active) {
     color: crimson;
}
 .menu-toggle a li {
     padding: 10px;
}
 .menu-toggle {
     display: block;
     position: relative;
     z-index: 1;
}
 .menu-toggle input {
     background-color: black;
     display: block;
     width: 40px;
     height: 32px;
     top: -7px;
     left: -5px;
     margin:-22px -10px;
     opacity: 0;
    /* Hides the box but allows for fucntionality*/
     z-index: 1;
     cursor: pointer;
}
 .menu-toggle span {
     display: block;
     width: 33px;
     height: 4px;
     margin-bottom: 1px;
     position: relative;
     background-color: #c48157;
     border-radius: 8px;
     border-color:black;
     border-style:ridge;
     z-index: -1;
     transform-origin: 4px 0px;
     transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
}
 .menu-toggle span:first-child {
     transform-origin: 0% 0%;
}
 .menu-toggle span:nth-last-child(2) {
     transform-origin: 0% 100%;
}
 .menu-toggle ul {
     position: fixed;
     width: 180px;
     margin: -50px 0 0 -70px;
     padding: 5px;
     padding-top: 45px;
     text-decoration: none;
     border-color: black;
     border-style: ridge;
     background-color: #C48157;
     border-radius: 32px;
     list-style-type: none;
     transform-origin: 0% 0%;
     transform: translate(-100%, 0);
     transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
 .menu-toggle input:checked ~ ul {
     transform: none;
}
 .current {
     background-color: goldenrod;
     border-radius: 20px;
}
/**/
/* Main Body */
 section {
     border-radius: 32px;
     width: 100%;
     font-family: Architects Daughter;
}
 section h2 {
     text-align: center;
     justify-content: space-between;
     align-items: stretch;
     margin: 6px auto;
     padding: 1px;
     background-color: #C48157;
     border-color: black;
     border-style: ridge;
     border-radius: 32px;
}
 section p {
     background-color: #C48157;
     text-align: justify;
    /* Readability */
     justify-content: space-between;
     align-items: stretch;
     border-radius: 32px;
     border-color: black;
     border-style: ridge;
     font-family: helvetica;
    /* Readability */
     font-weight: bold;
     padding: 10px;
     margin: 6px;
}
/**/
/* Images and paragraphs */
 section div {
     display: inline-flex;
}
 .images {
     display: none;
}
/**/
/* Form Stylings */
 .instructions{
     margin-right: 5px;
     text-align: justify;
}
 .caesar-section p {
     border-color: black;
     border-style: ridge;
}
 .caesar label {
     background-color: #C48157;
     text-align: justify; /* Readability */
     justify-content: space-between;
     align-items: stretch;
     border-color: black;
     border-style: ridge;
     border-radius: 32px;
     font-family: helvetica; /* Readability */
     font-weight: bold;
     padding: 10px;
     margin: 6px;
     width: 20%;
}
 .caesar input {
     text-align: justify; /* Readability */
     justify-content: center;
     border-color: black;
     border-style: ridge;
     border-radius: 32px;
     font-family: helvetica; /* Readability */
     font-weight: bold;
     padding: 10px;
     margin: 6px;
     width: 20%;
}
/**/
/* Stylings for user output */
 section span {
     background-color: #ff6200;
}
/**/
/* Most phones */
 @media screen and (min-width: 500px) {
    /* Navbar */
     .menu-toggle span {
         display: none;
    }
     .menu-toggle input {
         display: none;
    }
     .menu-toggle div {
         display: none;
    }
     .menu-toggle {
         width: 100%;
    }
     .menu-toggle ul {
         position:relative;
         list-style-type: none;
         margin: 0;
         padding: 0;
         overflow: hidden;
         background-color: #C48157;
         border-radius: 32px;
         border-style: ridge;
         border-color: black;
         font-family: Helvetica;
         transform: none;
    }
     .menu-toggle ul {
         width:100%;
         display: inline-flex;
    }
     .menu-toggle ul a {
         color: black;
         padding: 5px;
         text-decoration: none;
    }
     .menu-toggle.active {
         background-color: #4CAF50;
    }
    /**/
     .tagline {
         font-size: 125%;
         padding: 10px;
    }
}
/* Tablets */
 @media screen and (min-width: 800px) {
     .tagline {
         font-size: 150%;
         padding: 10px;
    }
     .images {
         background-color: #C48157;
         justify-content: space-between;
         align-items: stretch;
         padding: 5px;
         border-color: black;
         border-style: ridge;
         border-radius: 29px;
         display: inline-block;
    }
}