/*smallest devices*/
body
{
    background-color:#805064;
}
.tagline
{
    border-color: black;
    border-style: ridge;
    background-color: #C48157;
    border-radius: 32px;
    font-family: 'Architects Daughter', cursive;
    text-align: center; 
    font-size: 100%;
    padding: 5px;
}
nav 
{
    padding: 10px;
}
nav ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C48157;
    border-radius: 32px;
    border: 1px;
    border-style: ridge;
    border-color: black;
    font-family: Helvetica;
}
nav li 
{
    display: inline-flex;
    justify-content: space-between;
}

nav li a 
{
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px;
    border-right-style: ridge;
    border-color: black;
    border-left: 1px;
    border-left-style: ridge;
    border-color: black;
}

nav li a:hover:not(.active) 
{
    background-color: #805064;
}

nav.active 
{
    background-color: #4CAF50;
}

section 
{
    border-radius: 32px;
}
.lowerHeader
{
    text-align: center;
    width: 100%;   
    justify-content: space-between;
    align-items: stretch;
    padding: 10;
    margin: 0 auto;
    background-color: #C48157;    
    border-color: black;
    border-style: ridge;
    margin:5;
    border-radius: 32px;
}
.banner {
    width:100%;
    display: flex;
}

.subSection
{
    padding: 10px;
    padding-top: 1px;
    font-family: 'Architects Daughter', cursive;
    font-weight: 600;
}
.subSection p 
{
    padding: 10px;
    border-color: black;
    border-style: ridge;
    background-color: #C48157;
    border-radius: 32px;
}
.subSection span 
{
    font-family: helvetica;
}
.form form
{
    text-align:center;
    padding: 10;
    background-color: #C48157;    
    border-color: black;
    border-style: ridge;
    margin:15;
    border-radius: 32px;
}
.hidden
{
    display: none;
}
/*Most phones*/
@media screen and (min-width: 500px)
{
    .tagline
    {
        font-size: 125%;
        padding: 10px;
    }
}

/*Tablets*/
@media screen and (min-width: 750px)
{

    .tagline
    {
        font-size: 150%;
        padding: 10px;
    }
}
